### Final version Scrapping Sudoku UK

In [1]:
from bs4 import BeautifulSoup
import urllib3
import requests 
import datetime
import numpy as np
import pandas as pd
from urllib.request import urlopen 
from urllib.error import HTTPError 
from urllib.error import URLError
from tqdm import tqdm

## FUNCTIONS

## Get_dates():
To extract all the data we need to open all the different solutions that have been posted during the time in the web site.

In [2]:
def list_dates():
  dates = []
  dates_error = []
  urls = []
  for i in tqdm(range(2,5269)):
    d = datetime.date.today()- datetime.timedelta(days = i)
    d_format = str(d.day)+'/'+str(d.month) +'/'+ str(d.year)
    URL = "http://www.sudoku.org.uk/DailySudoku.asp?solution=please&day="+d_format
    try:
      urlopen(URL)
    except HTTPError as e:
        pass
#       dates_error.append(d_format)
    except URLError as e:
        pass
#       dates_error.append(d_format)
    else:
#       dates.append(d_format)
      urls.append(URL)
  return urls

## Get_html()
Using the list of the days we're going to open each URL and extract all the HTML code.

In [3]:
def get_html(url):
  r = requests.get(url) 
  return BeautifulSoup(r.content,'html.parser')

## Consolidate()
extract all the sudokus and their solutions, the level of difficulty, number of people that solved the soduku and the average time in minutes.

In [4]:
def consolidate(urls):
    solution, sudoku, level, people,av_time, unit = ([] for i in range(6))

    for url in tqdm(urls):
        a, b = ([] for i in range(2))
        soup = get_html(url)
        for link in soup.find_all('td', attrs={'class': ['InnerTDone2','InnerTDone'] }):
            if link.attrs['class'] == ['InnerTDone2']:
              b.append(link.text)
            else:
              b.append('.')
            a.append(link.text)
            
        sudoku.append(''.join(b))
        solution.append(''.join(a))
             
        p = list(list(soup.table.td)[2])
        level.append(str(p[1].get_text()).split(", ")[1].split()[0])
        people.append(str(p[3]).split()[0])
        av_time.append(str(p[3]).split()[6])
        unit.append(str(p[3]).split()[7])
        
    return  urls, level, people, av_time, unit, sudoku, solution

# Extract Dates

In [5]:
# dates, urls, dates_error = list_dates()
urls = list_dates()

100%|██████████| 5267/5267 [19:34<00:00,  4.48it/s]

In [6]:
len(urls)

5225

# Export URLs to CSV

In [7]:
urls_df = pd.DataFrame(list(urls), 
               columns =['urls'])
urls_df.to_csv('data/urls.csv')

# Load URLs

In [8]:
df_urls = pd.read_csv('data/urls.csv', sep=',').drop('Unnamed: 0', axis=1)

In [9]:
df_urls

                                                   urls
0     http://www.sudoku.org.uk/DailySudoku.asp?solut...
1     http://www.sudoku.org.uk/DailySudoku.asp?solut...
2     http://www.sudoku.org.uk/DailySudoku.asp?solut...
3     http://www.sudoku.org.uk/DailySudoku.asp?solut...
4     http://www.sudoku.org.uk/DailySudoku.asp?solut...
5     http://www.sudoku.org.uk/DailySudoku.asp?solut...
6     http://www.sudoku.org.uk/DailySudoku.asp?solut...
7     http://www.sudoku.org.uk/DailySudoku.asp?solut...
8     http://www.sudoku.org.uk/DailySudoku.asp?solut...
9     http://www.sudoku.org.uk/DailySudoku.asp?solut...
10    http://www.sudoku.org.uk/DailySudoku.asp?solut...
11    http://www.sudoku.org.uk/DailySudoku.asp?solut...
12    http://www.sudoku.org.uk/DailySudoku.asp?solut...
13    http://www.sudoku.org.uk/DailySudoku.asp?solut...
14    http://www.sudoku.org.uk/DailySudoku.asp?solut...
15    http://www.sudoku.org.uk/DailySudoku.asp?solut...
16    http://www.sudoku.org.uk/DailySudoku.asp?solut...
17    http://www.sudoku.org.uk/DailySudoku.asp?solut...
18    http://www.sudoku.org.uk/DailySudoku.asp?solut...
19    http://www.sudoku.org.uk/DailySudoku.asp?solut...
20    http://www.sudoku.org.uk/DailySudoku.asp?solut...
21    http://www.sudoku.org.uk/DailySudoku.asp?solut...
22    http://www.sudoku.org.uk/DailySudoku.asp?solut...
23    http://www.sudoku.org.uk/DailySudoku.asp?solut...
24    http://www.sudoku.org.uk/DailySudoku.asp?solut...
25    http://www.sudoku.org.uk/DailySudoku.asp?solut...
26    http://www.sudoku.org.uk/DailySudoku.asp?solut...
27    http://www.sudoku.org.uk/DailySudoku.asp?solut...
28    http://www.sudoku.org.uk/DailySudoku.asp?solut...
29    http://www.sudoku.org.uk/DailySudoku.asp?solut...
...                                                 ...
5195  http://www.sudoku.org.uk/DailySudoku.asp?solut...
5196  http://www.sudoku.org.uk/DailySudoku.asp?solut...
5197  http://www.sudoku.org.uk/DailySudoku.asp?solut...
5198  http://www.sudoku.org.uk/DailySudoku.asp?solut...
5199  http://www.sudoku.org.uk/DailySudoku.asp?solut...
5200  http://www.sudoku.org.uk/DailySudoku.asp?solut...
5201  http://www.sudoku.org.uk/DailySudoku.asp?solut...
5202  http://www.sudoku.org.uk/DailySudoku.asp?solut...
5203  http://www.sudoku.org.uk/DailySudoku.asp?solut...
5204  http://www.sudoku.org.uk/DailySudoku.asp?solut...
5205  http://www.sudoku.org.uk/DailySudoku.asp?solut...
5206  http://www.sudoku.org.uk/DailySudoku.asp?solut...
5207  http://www.sudoku.org.uk/DailySudoku.asp?solut...
5208  http://www.sudoku.org.uk/DailySudoku.asp?solut...
5209  http://www.sudoku.org.uk/DailySudoku.asp?solut...
5210  http://www.sudoku.org.uk/DailySudoku.asp?solut...
5211  http://www.sudoku.org.uk/DailySudoku.asp?solut...
5212  http://www.sudoku.org.uk/DailySudoku.asp?solut...
5213  http://www.sudoku.org.uk/DailySudoku.asp?solut...
5214  http://www.sudoku.org.uk/DailySudoku.asp?solut...
5215  http://www.sudoku.org.uk/DailySudoku.asp?solut...
5216  http://www.sudoku.org.uk/DailySudoku.asp?solut...
5217  http://www.sudoku.org.uk/DailySudoku.asp?solut...
5218  http://www.sudoku.org.uk/DailySudoku.asp?solut...
5219  http://www.sudoku.org.uk/DailySudoku.asp?solut...
5220  http://www.sudoku.org.uk/DailySudoku.asp?solut...
5221  http://www.sudoku.org.uk/DailySudoku.asp?solut...
5222  http://www.sudoku.org.uk/DailySudoku.asp?solut...
5223  http://www.sudoku.org.uk/DailySudoku.asp?solut...
5224  http://www.sudoku.org.uk/DailySudoku.asp?solut...

[5225 rows x 1 columns]

#### However in the website says that they have 5269 puzzles (that means that the first post of a Sudoku was Feb 2006) before Mar 7 of 2006 there are not registers about the players or the average time in the website, for this reason we're cut this urls

In [10]:
index = df_urls.index[df_urls['urls'].str.contains('=7/3/2006', regex=False)]

In [11]:
print(index[0])

5026

In [12]:

new_urls = df_urls.iloc[:index[0]]

In [13]:
new_urls.shape

(5026, 1)

In [14]:
#Export to csv
new_urls.to_csv('data/new_urls.csv')

# Extract Data

In [15]:
urls, level, people,av_time, unit, sudoku, solution = consolidate(new_urls['urls'])

100%|██████████| 5026/5026 [19:21<00:00,  4.33it/s]

# Create Dataframe

In [16]:
df = pd.DataFrame(list(zip(urls, level, people,av_time, unit, sudoku, solution)), 
               columns =['URL', 'Level','People','Average-Time', 'Unit-Time', 'Sudoku', 'Solution'])

In [17]:
df.head()

,URL,Level,People,Average-Time,Unit-Time,Sudoku,Solution
0,http://www.sudoku.org.uk/DailySudoku.asp?solut...,Tough,279,19,minutes,9......31.3...8.....5.7.9..3...4...8.916..54.4...,9274568316341982758153729643527496187916835424...
1,http://www.sudoku.org.uk/DailySudoku.asp?solut...,Moderate,301,14,minutes,9.......2784.1.5.....4.....2.53.1.7...7...8......,9615387427846125395234796182953814761479568236...
2,http://www.sudoku.org.uk/DailySudoku.asp?solut...,Moderate,294,13,minutes,...251...5...6...79.4.....2..519.7...9.....4.....,3782519645214698379647381522351947861976823458...
3,http://www.sudoku.org.uk/DailySudoku.asp?solut...,Gentle,291,12,minutes,..9...3.21..94.6..45..3....6......37....5....5...,7895613421239486754567329816481295372378564195...
4,http://www.sudoku.org.uk/DailySudoku.asp?solut...,Diabolical,262,25,minutes,..1.4.....8.....129...7...83.5.....4..6..72..4...,6215483975873694129342716583158269748964172354...

In [18]:
df.shape

(5026, 7)

## Splititng DataFrame 
#### DF1: URL,Level, unit-time,  and solution 
#### DF2: People, Average-Time and Sudoku

In [19]:
df['Id'] = df.index

In [20]:
df.head()

,URL,Level,People,Average-Time,Unit-Time,Sudoku,Solution,Id
0,http://www.sudoku.org.uk/DailySudoku.asp?solut...,Tough,279,19,minutes,9......31.3...8.....5.7.9..3...4...8.916..54.4...,9274568316341982758153729643527496187916835424...,0
1,http://www.sudoku.org.uk/DailySudoku.asp?solut...,Moderate,301,14,minutes,9.......2784.1.5.....4.....2.53.1.7...7...8......,9615387427846125395234796182953814761479568236...,1
2,http://www.sudoku.org.uk/DailySudoku.asp?solut...,Moderate,294,13,minutes,...251...5...6...79.4.....2..519.7...9.....4.....,3782519645214698379647381522351947861976823458...,2
3,http://www.sudoku.org.uk/DailySudoku.asp?solut...,Gentle,291,12,minutes,..9...3.21..94.6..45..3....6......37....5....5...,7895613421239486754567329816481295372378564195...,3
4,http://www.sudoku.org.uk/DailySudoku.asp?solut...,Diabolical,262,25,minutes,..1.4.....8.....129...7...83.5.....4..6..72..4...,6215483975873694129342716583158269748964172354...,4

In [21]:
df1 = df[['Id','URL', 'Level','Unit-Time','Solution']]
df2 = df[['Id','People','Average-Time','Sudoku']]

In [22]:
df1.shape, df2.shape

((5026, 5), (5026, 4))

In [23]:
df1.head()

,Id,URL,Level,Unit-Time,Solution
0,0,http://www.sudoku.org.uk/DailySudoku.asp?solut...,Tough,minutes,9274568316341982758153729643527496187916835424...
1,1,http://www.sudoku.org.uk/DailySudoku.asp?solut...,Moderate,minutes,9615387427846125395234796182953814761479568236...
2,2,http://www.sudoku.org.uk/DailySudoku.asp?solut...,Moderate,minutes,3782519645214698379647381522351947861976823458...
3,3,http://www.sudoku.org.uk/DailySudoku.asp?solut...,Gentle,minutes,7895613421239486754567329816481295372378564195...
4,4,http://www.sudoku.org.uk/DailySudoku.asp?solut...,Diabolical,minutes,6215483975873694129342716583158269748964172354...

In [30]:
df2.head()

   Id People Average-Time                                             Sudoku
0   0    292           14  .96..3.4.8.....1..4....6.829....4.....4.5.3......
1   1    283           12  ..7..34....17528......8.....4.5...3.1.2...5.8....
2   2    238           30  .6...3.7.....6.1.49.......3..97.45..7...1...9....
3   3    274           14  .54....8.....4..7.79...8.....26..1....35..2......
4   4    244           28  ..2...9......425.....751...4.......63.7...8..8...

# Function to visualize Sudoku

In [24]:
def split(element): 
    return [char for char in element]  

def transform_matrix(element):
  return np.reshape(split(element), (-1, 9))

In [25]:
transform_matrix(df.Solution[0])

array([['9', '2', '7', '4', '5', '6', '8', '3', '1'],
       ['6', '3', '4', '1', '9', '8', '2', '7', '5'],
       ['8', '1', '5', '3', '7', '2', '9', '6', '4'],
       ['3', '5', '2', '7', '4', '9', '6', '1', '8'],
       ['7', '9', '1', '6', '8', '3', '5', '4', '2'],
       ['4', '8', '6', '2', '1', '5', '3', '9', '7'],
       ['1', '6', '8', '9', '2', '4', '7', '5', '3'],
       ['5', '7', '3', '8', '6', '1', '4', '2', '9'],
       ['2', '4', '9', '5', '3', '7', '1', '8', '6']], dtype='<U1')

In [26]:
transform_matrix(df.Sudoku[0])

array([['9', '.', '.', '.', '.', '.', '.', '3', '1'],
       ['.', '3', '.', '.', '.', '8', '.', '.', '.'],
       ['.', '.', '5', '.', '7', '.', '9', '.', '.'],
       ['3', '.', '.', '.', '4', '.', '.', '.', '8'],
       ['.', '9', '1', '6', '.', '.', '5', '4', '.'],
       ['4', '.', '.', '.', '1', '.', '.', '.', '7'],
       ['.', '.', '8', '.', '2', '.', '7', '.', '.'],
       ['.', '.', '.', '8', '.', '.', '.', '2', '.'],
       ['.', '4', '.', '.', '.', '.', '.', '.', '6']], dtype='<U1')

In [27]:
transform_matrix(df.Sudoku[1])

array([['9', '.', '.', '.', '.', '.', '.', '.', '2'],
       ['7', '8', '4', '.', '1', '.', '5', '.', '.'],
       ['.', '.', '.', '4', '.', '.', '.', '.', '.'],
       ['2', '.', '5', '3', '.', '1', '.', '7', '.'],
       ['.', '.', '7', '.', '.', '.', '8', '.', '.'],
       ['.', '3', '.', '2', '.', '7', '9', '.', '1'],
       ['.', '.', '.', '.', '.', '3', '.', '.', '.'],
       ['.', '.', '2', '.', '6', '.', '1', '9', '5'],
       ['8', '.', '.', '.', '.', '.', '.', '.', '4']], dtype='<U1')

# Export Data Frame

In [29]:
df.to_csv('data/data.csv')

In [36]:
df1.to_csv('df1.csv')
df2.to_csv('df2.csv')