In [ ]:
!pip install requests

Requirement already satisfied: requests in /usr/local/lib/python3.6/dist-packages (2.21.0)
Requirement already satisfied: idna<2.9,>=2.5 in /usr/local/lib/python3.6/dist-packages (from requests) (2.8)
Requirement already satisfied: chardet<3.1.0,>=3.0.2 in /usr/local/lib/python3.6/dist-packages (from requests) (3.0.4)
Requirement already satisfied: urllib3<1.25,>=1.21.1 in /usr/local/lib/python3.6/dist-packages (from requests) (1.24.3)
Requirement already satisfied: certifi>=2017.4.17 in /usr/local/lib/python3.6/dist-packages (from requests) (2019.9.11)

In [ ]:
!pip install html5lib

Requirement already satisfied: html5lib in /usr/local/lib/python3.6/dist-packages (1.0.1)
Requirement already satisfied: webencodings in /usr/local/lib/python3.6/dist-packages (from html5lib) (0.5.1)
Requirement already satisfied: six>=1.9 in /usr/local/lib/python3.6/dist-packages (from html5lib) (1.12.0)

In [ ]:
!pip install bs4

Requirement already satisfied: bs4 in /usr/local/lib/python3.6/dist-packages (0.0.1)
Requirement already satisfied: beautifulsoup4 in /usr/local/lib/python3.6/dist-packages (from bs4) (4.6.3)

In [8]:
# Import Libraries
from bs4 import BeautifulSoup
#import urllib3
import requests 
import datetime
import numpy as np
import pandas as pd
from urllib.request import urlopen 
from urllib.error import HTTPError 
from urllib.error import URLError
from tqdm import tqdm

In [ ]:
# Get all html code from webpage

URL = "http://www.sudoku.org.uk/DailySudoku.asp?solution=please&day=11/25/2019"
r = requests.get(URL) 
soup = BeautifulSoup(r.content,'html5lib')

In [ ]:
# def get_html(daten):
#   URL = "http://www.sudoku.org.uk/DailySudoku.asp?solution=please&day="+daten
#   #URL = "http://www.sudoku.org.uk/DailySudoku.asp?solution=please&day=11/24/2003"
#   r = requests.get(URL) 
#   return BeautifulSoup(r.content,'html5lib')

In [ ]:
# Print code
print(soup.prettify())

In [267]:
# make a list with all days to extract in URL
dates = []
for i in range(2,3):
  d = datetime.date.today()- datetime.timedelta(days = i)
  dates.append(str(d.day)+'/'+str(d.month) +'/'+ str(d.year))
print(len(dates))

1

In [231]:
dates[0]

'11/25/2019'

In [ ]:
solution =[]
sudoku=[]
for date in dates:
  a=[]
  b=[]
  #soup = get_html(date)
  if soup.find('h2'):
    print('yes')
  else:
    for link in soup.find_all('td', attrs={'class': ['InnerTDone2','InnerTDone'] }):
      if link.attrs['class'] == ['InnerTDone2']:
        b.append(link.text)
      else:
        b.append('.')
      a.append(link.text)
    sudoku.append(''.join(b))
    solution.append(''.join(a))

In [ ]:
# def get_sudoku(dates):
#   sudokus=[]
#   given=[]
#   for date in dates:
#     a=[]
#     b=[]
#     soup = get_html(date)
#     if soup.find('h2'):
#       print('yes')
#     else:
#       for link in soup.find_all('td', attrs={'class': ['InnerTDone2','InnerTDone'] }):
#         if link.attrs['class'] == ['InnerTDone2']:
#           b.append(1)
#         else:
#           b.append(0)
#         a.append(link.text)
#       given.append(b)
#       sudokus.append(a)
#   return given, sudokus

In [ ]:

# for url in urls :
#   try: 
#     soup = get_html(url)
#     p = list(list(soup.table.td)[2])
#     level.append(str(p[1].get_text()).split(", ")[1].split()[0])
#     people.append(str(p[3]).split()[0])
#   except:
#     print(url)

In [250]:
sudoku[0]

'..96417..78.9....4...3...........27.4.3...8.1.76...........5...6....3.48..57189..'

In [252]:
solution[0]

'239641785781952634564387129958134276423576891176829453892465317617293548345718962'

In [ ]:
# given, sudokus = get_sudoku(dates)

In [255]:
def split(element): 
    return [char for char in element]  
      

print(len(split(sudoku[0])))

81

In [ ]:
def transform_matrix(element):
  
  B = np.reshape(split(element), (-1, 9))
  print(B)

In [259]:
transform_matrix(solution[0])

[['2' '3' '9' '6' '4' '1' '7' '8' '5']
 ['7' '8' '1' '9' '5' '2' '6' '3' '4']
 ['5' '6' '4' '3' '8' '7' '1' '2' '9']
 ['9' '5' '8' '1' '3' '4' '2' '7' '6']
 ['4' '2' '3' '5' '7' '6' '8' '9' '1']
 ['1' '7' '6' '8' '2' '9' '4' '5' '3']
 ['8' '9' '2' '4' '6' '5' '3' '1' '7']
 ['6' '1' '7' '2' '9' '3' '5' '4' '8']
 ['3' '4' '5' '7' '1' '8' '9' '6' '2']]

In [18]:
np.reshape(given[0][:], (-1, 9))

array([[0, 0, 1, 1, 0, 0, 1, 0, 0],
       [0, 1, 1, 0, 0, 0, 0, 0, 1],
       [0, 1, 0, 0, 0, 1, 0, 0, 1],
       [1, 0, 0, 1, 1, 0, 0, 0, 0],
       [0, 1, 0, 0, 0, 0, 0, 1, 0],
       [0, 0, 0, 0, 1, 1, 0, 0, 1],
       [1, 1, 0, 1, 0, 0, 0, 1, 0],
       [1, 0, 0, 0, 0, 0, 1, 1, 0],
       [0, 0, 1, 0, 0, 1, 1, 0, 0]])

In [3]:
datetime.date.today()

datetime.date(2019, 11, 26)

In [ ]:
# http://www.sudoku.org.uk/DailySudoku.asp?solution=please&day=22/8/2005

In [ ]:
# Mondays are Gentle - Today!
# Tuesdays are Moderate
# Wednesdays are Moderate
# Thursdays are Tough
# Fridays are Diabolical!
# Saturday's puzzle is Moderate
# Sundays's puzzle is Diabolical!

In [31]:
# extract lo que hay adentro del atributo
all_links = soup.find_all("link")
for link in all_links:
    print(link.get("href"))

sudokuprintable.css

In [262]:
# Print the first 10 rows for sanity check
rows = soup.find_all('td')
rows[1]

In [67]:
rows[0].text

'\n\t\tDaily Sudoku Competition for Nov 25 \n\t\tNumber 5251, Gentle - SOLUTION287 people took an average of 12 minutes to correctly complete this puzzle\n\t\t\n\t\tby Crosswords Ltd. November Puzzle Packs Now Out!. Thanks for supporting our site.\n\t\t\t\t\n\t\tFuture Puzzle - will be submitted on the relevant day\n\t\t\t\t\n\t'

In [ ]:
for row in rows:
  
    print(row.get_text())

In [72]:
print(soup.select("html body td")[0].get_text())

		Daily Sudoku Competition for Nov 25
		Number 5251, Gentle - SOLUTION287 people took an average of 12 minutes to correctly complete this puzzle

		by Crosswords Ltd. November Puzzle Packs Now Out!. Thanks for supporting our site.

		Future Puzzle - will be submitted on the relevant day

In [75]:
contentTable  = soup.find('tr')
rows  = contentTable.find_all('td', string=('Number'))
print(rows)
for row in rows:
    print(row.get_text())

[]

In [112]:
content = requests.get(URL)
soup = BeautifulSoup(content.text, 'html.parser')
#print(soup.head, soup.title)
print(soup.table.td)

<td align="left" colspan="2">
<font size="5">Daily Sudoku Competition for Nov 25 </font><p>
<font size="5">Number 5251, Gentle - SOLUTION</font><br/>287 people took an average of 12 minutes to correctly complete this puzzle<br/>
<br/>
<font size="2">by Crosswords Ltd. <font color="blue"><a href="http://www.sudokulist.com/ordering/MMPuzzles.asp">November Puzzle Packs Now Out!</a>. Thanks for supporting our site.</font></font><p>
<font size="2">Future Puzzle - will be submitted on the relevant day</font><p>
</p></p></p></td>

In [116]:
soup.table.td

<td align="left" colspan="2">
<font size="5">Daily Sudoku Competition for Nov 25 </font><p>
<font size="5">Number 5251, Gentle - SOLUTION</font><br/>287 people took an average of 12 minutes to correctly complete this puzzle<br/>
<br/>
<font size="2">by Crosswords Ltd. <font color="blue"><a href="http://www.sudokulist.com/ordering/MMPuzzles.asp">November Puzzle Packs Now Out!</a>. Thanks for supporting our site.</font></font><p>
<font size="2">Future Puzzle - will be submitted on the relevant day</font><p>
</p></p></p></td>

In [106]:
print (soup.table.td.get_text(separator='\n'))

Daily Sudoku Competition for Nov 25


Number 5251, Gentle - SOLUTION
287 people took an average of 12 minutes to correctly complete this puzzle




by Crosswords Ltd.
November Puzzle Packs Now Out!
. Thanks for supporting our site.


Future Puzzle - will be submitted on the relevant day

In [ ]:
aa= soup.table.td.get_text(separator='\n')

In [110]:
aa[5]

'l'

In [ ]:
p= list(soup.table.td)[2]

In [191]:
p

<p>
<font size="5">Number 5251, Gentle - SOLUTION</font><br/>287 people took an average of 12 minutes to correctly complete this puzzle<br/>
<br/>
<font size="2">by Crosswords Ltd. <font color="blue"><a href="http://www.sudokulist.com/ordering/MMPuzzles.asp">November Puzzle Packs Now Out!</a>. Thanks for supporting our site.</font></font><p>
<font size="2">Future Puzzle - will be submitted on the relevant day</font><p>
</p></p></p>

In [ ]:
level=str(list(p)[1].get_text())
people_min=str(list(p)[3])

In [221]:
level.split(", ")[1].split()[0]

'Gentle'

In [226]:
people_min.split()[0]

'287'

In [223]:
people_min.split()[6]

'12'

In [224]:
people_min.split()[7]

'minutes'

In [63]:
import pandas as pd
df = pd.DataFrame(list_rows)
df[0]

0    \n\t\tDaily Sudoku Competition for Nov 25 \n\t...
Name: 0, dtype: object

In [54]:
df1 = df[0].str.split('\n', expand=True)
df1.head(10)

  0                                         1  ...         7   8
0    \t\tDaily Sudoku Competition for Nov 25   ...  \t\t\t\t  \t

[1 rows x 9 columns]

In [56]:
list(df1.columns)

[0, 1, 2, 3, 4, 5, 6, 7, 8]

0    \t\tNumber 5251, Gentle - SOLUTION287 people t...
Name: 2, dtype: object

In [ ]:
df1.drop(['0',])

In [ ]:

URL = "http://www.sudoku.org.uk/DailySudoku.asp?solution=please&day=11/25/2019"

In [266]:
from urllib.request import urlopen 
from urllib.error import HTTPError 
from urllib.error import URLError
try:
  html = urlopen('http://www.sudoku.org.uk/DailySudoku.asp?solution=please&day=11/25/2003')
except HTTPError as e: 
  print(e)
except URLError as e:
  print('The server could not be found!')
else:
  print('It Worked!')

HTTP Error 500: Internal Server Error

In [1]:
class User:
    def __init__(self, login, password):
        self.login = login
        self.password = password

    def __str__(self):
        return self.login

    def __repr__(self):
        return f"User('{self.login}', '{self.password}')"

In [2]:
user = User('jdoe', 's3cret')

In [3]:
print(user)

jdoe

In [7]:
from time import sleep

def progress(percent=0, width=30):
    left = width * percent // 100
    right = width - left
    print('\r[', '#' * left, ' ' * right, ']',
          f' {percent:.0f}%',
          sep='', end='', flush=True)

for i in range(101):
    progress(i)
    sleep(0.1)

[##############################] 100%

In [23]:
!pip install tqdm

Collecting tqdm
  Downloading https://files.pythonhosted.org/packages/bb/62/6f823501b3bf2bac242bd3c320b592ad1516b3081d82c77c1d813f076856/tqdm-4.39.0-py2.py3-none-any.whl (53kB)
     |████████████████████████████████| 61kB 7.7MB/s  eta 0:00:01
Installing collected packages: tqdm
Successfully installed tqdm-4.39.0

In [24]:
 from tqdm import tqdm, tqdm_notebook

In [35]:
from bs4 import BeautifulSoup
#import urllib3
import requests 
import datetime
import numpy as np
import pandas as pd
from urllib.request import urlopen 
from urllib.error import HTTPError 
from urllib.error import URLError
from progressbar import ProgressBar

def list_dates():
  dates = []
  dates_error = []
  urls = []
  for i in tqdm(range(2,105)):
#     progress(i)
#     sleep(0.2)
    d = datetime.date.today()- datetime.timedelta(days = i)
    d_format = str(d.day)+'/'+str(d.month) +'/'+ str(d.year)
    URL = "http://www.sudoku.org.uk/DailySudoku.asp?solution=please&day="+d_format
    try:
      urlopen(URL)
    except HTTPError as e:
      dates_error.append(d_format)
    except URLError as e:
      dates_error.append(d_format)
    else:
      dates.append(d_format)
      urls.append(URL)
  return dates, urls, dates_error

In [36]:
dates, urls, dates_error = list_dates()

100%|██████████| 103/103 [00:31<00:00,  3.31it/s]

In [21]:
!pip install progressbar

Collecting progressbar
  Downloading https://files.pythonhosted.org/packages/a3/a6/b8e451f6cff1c99b4747a2f7235aa904d2d49e8e1464e0b798272aa84358/progressbar-2.5.tar.gz
Building wheels for collected packages: progressbar
  Building wheel for progressbar (setup.py) ... done
  Created wheel for progressbar: filename=progressbar-2.5-cp36-none-any.whl size=12114 sha256=ae836bf3257c9dafcd87148e17b8ebe7e27fe727d2b1fc681d2a26b5c51475dc
  Stored in directory: /root/.cache/pip/wheels/c0/e9/6b/ea01090205e285175842339aa3b491adeb4015206cda272ff0
Successfully built progressbar
Installing collected packages: progressbar
Successfully installed progressbar-2.5

In [37]:
df = pd.DataFrame(columns = ['Name', 'Age'])

In [38]:
df.head()

Empty DataFrame
Columns: [Name, Age]
Index: []

In [39]:
df['Name'] = "Luna"
df['Age'] = 11

In [40]:
df.head()

Empty DataFrame
Columns: [Name, Age]
Index: []

In [10]:
def list_dates():
  dates = []
  dates_error = []
  urls = []
  for i in tqdm(range(2,12)):
    d = datetime.date.today()- datetime.timedelta(days = i)
    d_format = str(d.day)+'/'+str(d.month) +'/'+ str(d.year)
    URL = "http://www.sudoku.org.uk/DailySudoku.asp?solution=please&day="+d_format
    try:
      urlopen(URL)
    except HTTPError as e:
        pass
#       dates_error.append(d_format)
    except URLError as e:
        pass
#       dates_error.append(d_format)
    else:
#       dates.append(d_format)
      urls.append(URL)
  return urls

In [13]:
def get_html(url):
  r = requests.get(url) 
  return BeautifulSoup(r.content,'html.parser')

In [15]:
def get_sudokus(urls):
  solution =[]
  sudoku=[]
  for url in urls:
    a=[]
    b=[]
    soup = get_html(url)
    for link in soup.find_all('td', attrs={'class': ['InnerTDone2','InnerTDone'] }):
        if link.attrs['class'] == ['InnerTDone2']:
          b.append(link.text)
        else:
          b.append('.')
        a.append(link.text)
      sudoku.append(''.join(b))
      solution.append(''.join(a))

  return sudoku, solution

IndentationError: unindent does not match any outer indentation level (<tokenize>, line 14)

In [ ]:
def get_info(urls):
  level = []
  people = []
  av_sln = []
  unit_time = []
  
  for url in urls :
    soup = get_html(url)
    p = list(list(soup.table.td)[2])
    level.append(str(p[1].get_text()).split(", ")[1].split()[0])
    people.append(str(p[3]).split()[0])
    av_sln.append(str(p[3]).split()[6])
    unit_time.append(str(p[3]).split()[7])
  return level,people,av_sln, unit_time

In [ ]:
df = pd.DataFrame(list(zip(dates, urls,  level, people,av_sln, unit_time, sudoku, solution)), 
               columns =['Date','URL', 'Level','People','Average-Time', 'Unit-Time', 'Sudoku', 'Solution'])

In [22]:
def consolidado(urls):
    a, b, solution, sudoku, level, people,av_time, unit = ([] for i in range(8))

    for url in tqdm(urls):
        soup = get_html(url)
        for link in soup.find_all('td', attrs={'class': ['InnerTDone2','InnerTDone'] }):
            if link.attrs['class'] == ['InnerTDone2']:
              b.append(link.text)
            else:
              b.append('.')
            a.append(link.text)
            
        sudoku.append(''.join(b))
        solution.append(''.join(a))
             
        p = list(list(soup.table.td)[2])
        level.append(str(p[1].get_text()).split(", ")[1].split()[0])
        people.append(str(p[3]).split()[0])
        av_time.append(str(p[3]).split()[6])
        unit.append(str(p[3]).split()[7])
        
    return  urls, level, people,av_time, unit, sudoku, solution

In [11]:
urls = list_dates()

100%|██████████| 10/10 [00:03<00:00,  3.02it/s]

In [ ]:
data

In [23]:
urls, level, people,av_time, unit, sudoku, solution = consolidado(urls)

100%|██████████| 10/10 [00:03<00:00,  3.20it/s]

In [17]:
df = pd.DataFrame(list(zip(urls, level, people,av_time, unit, sudoku, solution)), columns =['URL', 'Level','People','Average-Time', 'Unit-Time', 'Sudoku', 'Solution'])

In [21]:
df.head()

,URL,Level,People,Average-Time,Unit-Time,Sudoku,Solution
0,http://www.sudoku.org.uk/DailySudoku.asp?solut...,Gentle,287,12,minutes,..96417..78.9....4...3...........27.4.3...8.1....,2396417857819526345643871299581342764235768911...
1,http://www.sudoku.org.uk/DailySudoku.asp?solut...,Diabolical,254,27,minutes,..96417..78.9....4...3...........27.4.3...8.1....,2396417857819526345643871299581342764235768911...
2,http://www.sudoku.org.uk/DailySudoku.asp?solut...,Moderate,276,15,minutes,..96417..78.9....4...3...........27.4.3...8.1....,2396417857819526345643871299581342764235768911...
3,http://www.sudoku.org.uk/DailySudoku.asp?solut...,Diabolical,252,27,minutes,..96417..78.9....4...3...........27.4.3...8.1....,2396417857819526345643871299581342764235768911...
4,http://www.sudoku.org.uk/DailySudoku.asp?solut...,Tough,256,23,minutes,..96417..78.9....4...3...........27.4.3...8.1....,2396417857819526345643871299581342764235768911...

In [57]:
count = 0 
c,g,pru1,pru2 = ([] for i in range(4))
for i in range (1,12):
    count += 1
    for j in range(1,2):
        c.append(str(j))
        g.append(str(j+1))
    pru1.append(''.join(c))
    pru2.append(''.join(g))

In [58]:
pru1

['1',
 '11',
 '111',
 '1111',
 '11111',
 '111111',
 '1111111',
 '11111111',
 '111111111',
 '1111111111',
 '11111111111']

In [24]:
df_urls = pd.read_csv('urls.csv', sep=',').drop('Unnamed: 0', axis=1)

In [63]:
new_urls = df_urls.iloc[5010:5208]
new_urls

                                                   urls
5010  http://www.sudoku.org.uk/DailySudoku.asp?solut...
5011  http://www.sudoku.org.uk/DailySudoku.asp?solut...
5012  http://www.sudoku.org.uk/DailySudoku.asp?solut...
5013  http://www.sudoku.org.uk/DailySudoku.asp?solut...
5014  http://www.sudoku.org.uk/DailySudoku.asp?solut...
...                                                 ...
5202  http://www.sudoku.org.uk/DailySudoku.asp?solut...
5203  http://www.sudoku.org.uk/DailySudoku.asp?solut...
5204  http://www.sudoku.org.uk/DailySudoku.asp?solut...
5205  http://www.sudoku.org.uk/DailySudoku.asp?solut...
5206  http://www.sudoku.org.uk/DailySudoku.asp?solut...

[197 rows x 1 columns]

In [64]:
new_urls['urls'][5010]

'http://www.sudoku.org.uk/DailySudoku.asp?solution=please&day=6/3/2006'

In [75]:
a, b, solution, sudoku, level, people,av_time, unit = ([] for i in range(8))
soup = get_html('http://www.sudoku.org.uk/DailySudoku.asp?solution=please&day=6/3/2006')
for link in soup.find_all('td', attrs={'class': ['InnerTDone2','InnerTDone'] }):
    if link.attrs['class'] == ['InnerTDone2']:
        b.append(link.text)
    else:
        b.append('.')
    a.append(link.text)
            
sudoku.append(''.join(b))
solution.append(''.join(a))
             
p = list(list(soup.table.td)[2])
print(p)
# level.append(str(p[1].get_text()).split(", ")[1].split()[0])
# people.append(str(p[3]).split()[0])
# av_time.append(str(p[3]).split()[6])
# unit.append(str(p[3]).split()[7])

['\n', <font size="5">Number 239, Gentle - SOLUTION</font>, <br/>, '\n', <br/>, '\n', <font size="2">by Crosswords Ltd. <font color="blue"><a href="http://www.sudokulist.com/ordering/MMPuzzles.asp">November Puzzle Packs Now Out!</a>. Thanks for supporting our site.</font></font>, <p>
<font size="2">Future Puzzle - will be submitted on the relevant day</font><p>
</p></p>]

In [66]:
urls, level, people,av_time, unit, sudoku, solution = consolidate(new_urls['urls'])

  0%|          | 0/197 [00:00<?, ?it/s]

IndexError: list index out of range